@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0b0c0e;
    --background: #f6f6f8;
    --primary: #66749d;
    --secondary: #a2adca;
    --accent: #8091c0;
  }
  .dark {
    --text: #f1f2f4;
    --background: #070709;
    --primary: #616f98;
    --secondary: #36415e;
    --accent: #3e4f7e;
  }
},


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 229, 229, 229; 
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Suse', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.animate-pulse-custom {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}