.markdown-content {
  color: white;
  font-size: 0.875rem;

  h1 {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  h3 {
    font-size: 1rem;
  }

  p, li {
  font-size: 1rem; /* text-sm */
}

pre {
  white-space: pre-wrap; /* Preserves line breaks */
  word-wrap: break-word; /* Allows long lines to break */
  background-color: #f5f5f5; /* Optional: Background color for code blocks */
  padding: 1em; /* Optional: Padding for better readability */
  border-radius: 5px; /* Optional: Rounded corners */
  overflow-x: auto; /* Adds horizontal scrollbar if needed */
}

code {
  font-family: 'Courier New', Courier, monospace;
}

  /* Ensure superscripts are styled correctly */
  sup {
    @apply text-sm;
  }

  /* Customize blockquotes if not handled in ReactMarkdown component */
  blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic;
  }
}